@using Admin.Entity;
@model ProductControllerModel

@{
    ViewBag.Title = "Ürün ve Grup Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Ürün Grup tasarım*@
<button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal" data-target="#modalSaveGroup" style="width:100px" onclick="addClickGroup()">Ürün Grup Ekle</button> <br />

<table id="tblDataListGroup" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="dataList_info">
    <thead>
        <tr role="row">
            <th>Grup Adı</th>
            <th>Ana Grup Adı</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductGroup productGroup in Model.ProductGroups)
        {
            <tr role="row" class="odd">
                <td>@productGroup.UrunGrupAdi</td>
                <td>@productGroup.AnaGrupAdi</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalSaveGroup" onclick="updateClickGroup(@productGroup.UrunGrupId)" title="Güncelle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                            <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"></path>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalDeleteGroup" onclick="deleteClickGroup(@productGroup.UrunGrupId)" title="Sil">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Ürün tasarım*@
<button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal" data-target="#modalSave" style="width:100px" onclick="addClick()">Ürün Ekle</button> <br />

<table id="tblDataList" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="dataList_info">
    <thead>
        <tr role="row">
            <th>Ürün Grup Adı</th>
            <th>Ürün Adı</th>
            <th>Açıklama</th>
            <th>Liste Fiyatı</th>
            <th>Liste İskonto Oranı</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model.Products)
        {
            <tr role="row" class="odd">
                <td>@product.UrunGrupText</td>
                <td>@product.UrunAdi</td>
                <td>@product.Aciklama</td>
                <td>@product.ListeFiyat</td>
                <td>@product.ListeIskontoOran</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalSave" onclick="updateClick(@product.UrunId)" title="Güncelle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                            <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"></path>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalDelete" onclick="deleteClick(@product.UrunId)" title="Sil">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Ürün grup ekleme&güncelleme*@
<div class="modal fade" id="modalSaveGroup" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span id="spanBaslikGrup"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="divUpdate" class="modal-body">
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Ürün Grup Adı</label>
                                <input type="text" class="form-control" id="txtUrunGrupAdi" placeholder="Ürün Grup Adı">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Ürün Ana Grup Adi</label>
                                <select id="ddlAnaUrunGrupId" class="form-control">
                                    <option value="-1"></option>
                                    @{
                                        foreach (var productGroup in Model.ProductGroups)
                                        {
                                            <option value="@productGroup.UrunGrupId">@productGroup.UrunGrupAdi</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalClose">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="modalGrupKaydet()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br /><br />

@*Ürün ekleme&güncelleme*@
<div class="modal fade" id="modalSave" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span id="spanBaslik"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="divUpdate" class="modal-body">
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Ürün Grup Adi</label>
                                <select id="ddlUrunGrupId" class="form-control">
                                    <option value="-1"></option>
                                    @{
                                        foreach (var productGroup in Model.ProductGroups)
                                        {
                                            <option value="@productGroup.UrunGrupId">@productGroup.UrunGrupAdi</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Ürün Adi</label>
                                <input type="text" class="form-control" id="txtUrunAdi" placeholder="Uzun Adı">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Açıklama</label>
                                <input type="text" class="form-control" id="txtAciklama" placeholder="Açıklama">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Liste Fiyat</label>
                                <input type="number" class="form-control" id="txtListeFiyat" placeholder="Liste Fiyat">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Liste İskonto Oran</label>
                                <input type="number" class="form-control" id="txtListeIskontoOran" placeholder="Liste İskonto Oran">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalClose">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="modalKaydet()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@*Ürün grup silme*@
<div class="modal fade" id="modalDeleteGroup" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Ürünü grubu silmek istediğinize emin misiniz?</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-primary" onclick="modalGrupSil()">Evet</button>
            </div>
        </div>
    </div>
</div>

@*Ürün silme*@
<div class="modal fade" id="modalDelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Ürünü silmek istediğinize emin misiniz?</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-primary" onclick="modalSil()">Evet</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    $(function () {
        $("#tblDataList").dataTable({
            "responsive": true,
            "autoWidth": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json",
            }
        });

        $("#tblDataListGroup").dataTable({
            "responsive": true,
            "autoWidth": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json",
            }
        });
    });

    var selectedRowId = 0;
    var selectedGroupRowId = 0;

    function addClick() {
        $("#spanBaslik").text("Ürün Ekleme");
    }

    function addClickGroup() {
        $("#spanBaslikGrup").text("Ürün Grup Ekleme");
    }

    function updateClick(id) {
        $("#spanBaslik").text("Ürün Güncelleme");

        selectedRowId = id;

        var model = @Html.Raw(Json.Encode(Model.Products));

        if (id > 0 && model != null && model.length > 0) {
            for (var i = 0; i < model.length; i++) {
                if (model[i].UrunId == selectedRowId) {
                    $("#ddlUrunGrupId").val(model[i].FKUrunGrupId);
                    $("#txtUrunAdi").val(model[i].UrunAdi);
                    $("#txtListeFiyat").val(model[i].ListeFiyat);
                    $("#txtListeIskontoOran").val(model[i].ListeIskontoOran);
                    $("#txtAciklama").val(model[i].Aciklama);
                }
            }
            var item = model.find(findItem);

            if (item != null) {
            }
        }
    }

     function updateClickGroup(id) {
         $("#spanBaslikGrup").text("Ürün Grup Güncelleme");

         selectedGroupRowId = id;

        var model = @Html.Raw(Json.Encode(Model.ProductGroups));

        if (id > 0 && model != null && model.length > 0) {
            for (var i = 0; i < model.length; i++) {
                if (model[i].UrunGrupId == selectedGroupRowId) {
                    $("#txtUrunGrupAdi").val(model[i].UrunGrupAdi);
                    $("#ddlAnaUrunGrupId").val(model[i].AnaGrupId);
                }
            }
        }
    }

    function findItem(item) {
        return item.UrunId = selectedRowId;
     }

    function deleteClick(id) {
        selectedRowId = id;
    }

    function deleteClickGroup(id) {
        selectedGroupRowId = id;
    }

    // kaydetme
    function modalKaydet() {
        var urun = {};

        urun.UrunId = selectedRowId;
        urun.FKUrunGrupId = $("#ddlUrunGrupId").val();
        urun.UrunAdi = $("#txtUrunAdi").val();
        urun.ListeFiyat = $("#txtListeFiyat").val();
        urun.ListeIskontoOran = $("#txtListeIskontoOran").val();
        urun.Aciklama = $("#txtAciklama").val();

        var actionName = selectedRowId > 0 ? "UpdateProduct" : "SaveProduct";

        $.ajax({
            type: "POST",
            url: "/Product/" + actionName,
            data: '{urun:' + JSON.stringify(urun) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload();
            }
        });
    }

    function modalGrupKaydet() {
        var urunGrup = {};

        urunGrup.UrunGrupId = selectedGroupRowId;
        urunGrup.UrunGrupAdi = $("#txtUrunGrupAdi").val();
        urunGrup.AnaGrupId = $("#ddlAnaUrunGrupId").val();

        var actionName = selectedGroupRowId > 0 ? "UpdateProductGroup" : "SaveProductGroup";

        $.ajax({
            type: "POST",
            url: "/Product/" + actionName,
            data: '{urunGrup:' + JSON.stringify(urunGrup) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload();
            }
        });
    }

    // silme
    function modalSil() {
        var urun = {};
        urun.UrunId = selectedRowId;

        $.ajax({
            type: "POST",
            url: "/Product/DeleteProduct",
            data: '{urun:' + JSON.stringify(urun) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload();
            }
        });
    }

    function modalGrupSil() {
        var urunGrup = {};
        urunGrup.UrunGrupId = selectedGroupRowId;

        $.ajax({
            type: "POST",
            url: "/Product/DeleteProductGroup",
            data: '{urunGrup:' + JSON.stringify(urunGrup) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload();
            }
        });
    }
</script>

