@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Anasayfa</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Product")">
                <a href="@Url.Action("Index", "Product")"><i class="fa fa-cog"></i> <span>Ürün&Ürün Grup</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "FirmInformation")">
                <a href="@Url.Action("Index", "FirmInformation")"><i class="fa fa-cog"></i> <span>Firma</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "User")">
                <a href="@Url.Action("Index", "User")"><i class="fa fa-cog"></i> <span>Kullanıcı</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "DownloadLink")">
                <a href="@Url.Action("Index", "DownloadLink")"><i class="fa fa-cog"></i> <span>Download Link</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "News")">
                <a href="@Url.Action("Index", "News")"><i class="fa fa-cog"></i> <span>Duyuru-Haber</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "CustomerWriting")">
                <a href="@Url.Action("Index", "CustomerWriting")"><i class="fa fa-cog"></i> <span>Müşteri Yazı</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Reference")">
                <a href="@Url.Action("Index", "Reference")"><i class="fa fa-cog"></i> <span>Referans</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Popup")">
                <a href="@Url.Action("Index", "Popup")"><i class="fa fa-cog"></i> <span>Popup</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>