@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Anasayfa</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Product")">
                <a href="@Url.Action("Index", "Product")"><i class="fa fa-cog"></i> <span>Ürün Bilgileri</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "FirmInformation")">
                <a href="@Url.Action("Index", "FirmInformation")"><i class="fa fa-cog"></i> <span>Firma Bilgileri</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "User")">
                <a href="@Url.Action("Index", "User")"><i class="fa fa-cog"></i> <span>Kullanıcı Bilgileri</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "DownloadLink")">
                <a href="@Url.Action("Index", "DownloadLink")"><i class="fa fa-cog"></i> <span>Download Link Bilgileri</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>