@using Admin.DataLayer;
@model IEnumerable<FirmaBilgileri>

@{
    ViewBag.Title = "Firma Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal" data-target="#modalSave" style="width:100px" onclick="addClick()">Ekle</button> <br />

<table id="tblDataList" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="dataList_info">
    <thead>
        <tr role="row">
            <th>Firma Adı</th>
            <th>Uzun Adı</th>
            <th>Adres</th>
            <th>Telefon 1</th>
            <th>Telefon 2</th>
            <th>Cep Telefonu</th>
            <th>Fax</th>
            <th>İletişim</th>
            <th>Destek</th>
            <th>Satış</th>
            <th>Aktif</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (FirmaBilgileri firm in Model)
        {
            <tr role="row" class="odd">
                <td>@firm.FirmaAdi</td>
                <td>@firm.FirmaAdiUzun</td>
                <td>@firm.Adres</td>
                <td>@firm.Telefon1</td>
                <td>@firm.Telefon2</td>
                <td>@firm.CepTelefon</td>
                <td>@firm.Fax</td>
                <td>@firm.IletisimMail</td>
                <td>@firm.DestekMail</td>
                <td>@firm.SatisMail</td>
                <td>@firm.Aktif</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalSave"  onclick="updateClick(@firm.Id)" title="Güncelle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                            <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"></path>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalDelete" onclick="deleteClick(@firm.Id)" title="Sil">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Firma ekleme&güncelleme*@
<div class="modal fade" id="modalSave" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span id="spanBaslik"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="divUpdate" class="modal-body">
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Firma Adi</label>
                                <input type="text" class="form-control" id="txtFirmaAdi" placeholder="Firma Adı">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Uzun Adi</label>
                                <input type="text" class="form-control" id="txtUzunAdi" placeholder="Uzun Adı">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Cep Telefonu</label>
                                <input type="tel" class="form-control" id="txtCepTelefon" placeholder="Cep Telefonu">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Telefon 1</label>
                                <input type="tel" class="form-control" id="txtTelefon1" placeholder="Telefon 1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Telefon 2</label>
                                <input type="tel" class="form-control" id="txtTelefon2" placeholder="Telefon 2">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Fax</label>
                                <input type="tel" class="form-control" id="txtFax" placeholder="Telefon 2">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Adres</label>
                                <textarea class="form-control" id="txtAdres" placeholder="Adres"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">İletişim Mail</label>
                                <input type="tel" class="form-control" id="txtIletisimMail" placeholder="İletişim Maili">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Destek Mail</label>
                                <input type="tel" class="form-control" id="txtDestekMail" placeholder="Destek Mail">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Satış Mail</label>
                                <input type="tel" class="form-control" id="txtSatisMail" placeholder="Satış Mail">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalClose">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="modalKaydet()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@*Firma silme*@
<div class="modal fade" id="modalDelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Firmayı silmek istediğinize emin misiniz?</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-primary" onclick="modalSil()">Evet</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    $(function () {
        $("#tblDataList").dataTable({
            "responsive": true,
            "autoWidth": true,
            "ordering": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json",
            }
        });
    });

    var selectedRowId = 0;

    function addClick() {
        $("#spanBaslik").text("Firma Ekleme");

        $("#txtFirmaAdi").val('');
        $("#txtUzunAdi").val('');
        $("#txtAdres").val('');
        $("#txtTelefon1").val('');
        $("#txtTelefon2").val('');
        $("#txtCepTelefon").val('');
        $("#txtFax").val('');
        $("#txtIletisimMail").val('');
        $("#txtDestekMail").val('');
        $("#txtSatisMail").val('');
    }

    function updateClick(id) {
        $("#spanBaslik").text("Firma Güncelleme");

        selectedRowId = id;

        var model = @Html.Raw(Json.Encode(Model));

        if (id > 0 && model != null && model.length > 0) {
            for (var i = 0; i < model.length; i++) {
                if (model[i].Id == selectedRowId) {
                    var item = model[i];

                    $("#txtFirmaAdi").val(item.FirmaAdi);
                    $("#txtUzunAdi").val(item.FirmaAdiUzun);
                    $("#txtAdres").val(item.Adres);
                    $("#txtTelefon1").val(item.Telefon1);
                    $("#txtTelefon2").val(item.Telefon2);
                    $("#txtCepTelefon").val(item.CepTelefon);
                    $("#txtFax").val(item.Fax);
                    $("#txtIletisimMail").val(item.IletisimMail);
                    $("#txtDestekMail").val(item.DestekMail);
                    $("#txtSatisMail").val(item.SatisMail);
                }
            }
        }
    }

    function deleteClick(id) {
        selectedRowId = id;
    }

    // kaydetme
    function modalKaydet() {
        if (!fieldValidationControl("txtFirmaAdi", "Firma adı boş olamaz")) {
            return;
        }

        var firma = {};

        firma.Id = selectedRowId;
        firma.FirmaAdi = $("#txtFirmaAdi").val();
        firma.FirmaAdiUzun = $("#txtUzunAdi").val();
        firma.Adres = $("#txtAdres").val();
        firma.Telefon1 = $("#txtTelefon1").val();
        firma.Telefon2 = $("#txtTelefon2").val();
        firma.CepTelefon = $("#txtCepTelefon").val();
        firma.Fax = $("#txtFax").val();
        firma.IletisimMail = $("#txtIletisimMail").val();
        firma.DestekMail = $("#txtDestekMail").val();
        firma.SatisMail = $("#txtSatisMail").val();

        var actionName = selectedRowId > 0 ? "UpdateFirm" : "SaveFirm";

        $.ajax({
            type: "POST",
            url: "/FirmInformation/" + actionName,
            data: '{firma:' + JSON.stringify(firma) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload();
            }
        });
    }

    // silme
    function modalSil() {
        var firma = {};
        firma.Id = selectedRowId;

        $.ajax({
            type: "POST",
            url: "/FirmInformation/DeleteFirm",
            data: '{firma:' + JSON.stringify(firma) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload();
            }
        });
    }
</script>

