@using AdminWebPanel.Models
@model BaseModel
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alaca Elektronik - Admin Panel</title>

    <link href="@Url.Content("~/css/jquery.modal.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/loginForget.css")"  rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content(@"~/css/style.default.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content(@"~/css/responsive-tables.css")">

    <script type="text/javascript" src="@Url.Content(@"~/js/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/jquery-migrate-1.1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/jquery-ui-1.10.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/modernizr.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/jquery.uniform.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/flot/jquery.flot.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/flot/jquery.flot.resize.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/responsive-tables.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/jquery.slimscroll.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/custom.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>

    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/js/excanvas.min.js")"></script><![endif]-->
</head>

<body>
    <div id="mainwrapper" class="mainwrapper">

        <div class="header">
            <div class="logo">
                <h4 style="color: white;">Alaca Elektronik</h4>
                <br />
                @if (CacheLookup.ListFirm != null)
                {
                    <h5 style="color: white;">@CacheLookup.ListFirm.FirstOrDefault(f => f.Value == Model.User.FirmID.ToString()).Text</h5>
                }
            </div>
            <div class="headerinner">
                <ul class="headmenu">
                    <li class="odd">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="count">1</span>
                            <span class="head-icon head-message"></span>
                            <span class="headmenu-label">Mesajlar</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Mesajlar</li>
                            <li><a href="#"><span class="icon-envelope"></span>New message from <strong>Jack</strong> <small class="muted">- 19 hours ago</small></a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            <span class="count">2</span>
                            <span class="head-icon head-users"></span>
                            <span class="headmenu-label">Kullanıcılar</span>
                        </a>
                        <ul class="dropdown-menu newusers">
                            <li class="nav-header">Kullanıcılar</li>
                            <li>
                                <a href="#">
                                    <img src="images/photos/nouser.png" alt="" class="userthumb" />
                                    <strong>Draniem Daamul</strong>
                                    <small>April 20, 2013</small>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/photos/nouser.png" alt="" class="userthumb" />
                                    <strong>Shamcey Sindilmaca</strong>
                                    <small>April 19, 2013</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="right">
                        <div class="userloggedinfo">
                            <img src="images/photos/nouser.png" alt="" />
                            <div class="userinfo">
                                @*<h5>@string.Format("{0} {1}", Model.User.FirstName, Model.User.LastName)<small>- @Model.User.EmailAddress</small></h5>*@
                                <ul>
                                    <li><a href="editprofile.html">Profil Güncelle</a></li>
                                    <li><a href="#">Kullanıcı Ayarları</a></li>
                                    <li>@Html.ActionLink("Çıkış Yap", "Logout", "Home")</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--headmenu-->
            </div>
        </div>

        <div class="leftpanel">

            <div class="leftmenu">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="nav-header">Alaca Elektronik Admin Panel</li>
                    <li class="active"><a href="dashboard.html"><span class="iconfa-laptop"></span>Dashboard</a></li>
                    <li class="dropdown"><a href="#"><span class="iconfa-pencil"></span>Forms</a>
                        <ul>
                            <li><a href="forms.html">Form Styles</a></li>
                            <li><a href="wizards.html">Wizard Form</a></li>
                            <li><a href="wysiwyg.html">WYSIWYG</a></li>
                            <li><a href="registration.html">Registration Page</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--leftmenu-->

        </div>
        <!-- leftpanel -->

        <div class="rightpanel">

            <div>
                @RenderBody()
            </div>
            <div class="footer">
                <div class="footer-left">
                    <span>&copy; 2014. Alaca Elektronik. Tüm hakları saklıdır.</span>
                </div>
            </div>
            <!--footer-->

        </div>
        <!--mainwrapper-->
    </div>
    <script>
        function ShowMessage(title, message) {
            $("#dialog-message").attr("title", title);
            $("#dialog-message").html(message);
            $("#dialog-message").dialog({
                modal: true,
                width: 450,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    </script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

    <div id="dialog-message" title="Warning"></div>

    <div id="ajaxLoader" style="display: none; height:70px; width:60px; text-align:center;"  @*class="ui-widget-overlay"*@ >
        <img src="@Url.Content("~/images/preloader.gif")" style="margin-top: 18px;" />
    </div>
</body>
</html>
