<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="@Url.Content(@"~/css/style.default.css")" />

    <script type="text/javascript" src="@Url.Content(@"~/js/jquery-1.9.1.min.js") "></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/jquery-ui-1.10.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/modernizr.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content(@"~/js/custom.js")"></script>
    <script>
        function ShowMessage(title, message) {
            $("#dialog-message").attr("title", title);
            $("#dialog-message").html(message);
            $("#dialog-message").dialog({
                modal: true,
                width: 450,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    </script>
</head>
<body class="loginpage">
    <div class="loginpanel">
        @RenderBody()
    </div>
    <div class="loginfooter">
        <p>&copy; 2014. Alaca Elektronik Admin Paneli. Tüm Hakları Saklıdır.</p>
    </div>
    <script>
        function ShowMessage(title, message) {
            $("#dialog-message").attr("title", title);
            $("#dialog-message").html(message);
            $("#dialog-message").dialog({
                modal: true,
                width: 450,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    </script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

    <div id="dialog-message" title="Warning"></div>

    <div id="ajaxLoader" style="display: none; height:70px; width:60px; text-align:center; left:50%;" >
        <img src="@Url.Content("~/images/preloader.gif")" style="margin-top: 18px;" />
    </div>
</body>
</html>
