@using Alaca.Web.Models
@model LayoutModel<HomeModel>

@section slider
{
<div id="home_slider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home_slider" data-slide-to="0" class="active"></li>
        <li data-target="#home_slider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000" data-bg="images/home_slider3.jpg">
            <div class="container">
                <div class="header-text zoomoutheader">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="media-hold-h-p">
                                <h1>
                                    ALACA ELEKTRONİK <br><span class="txt-rotate">Bilişim teknolojileri pazarındaki çözümlerinizi birlikte yönetelim</span><span class="blinking">
                                        .
                                    </span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-interval="10000" data-bg="images/home_slider1.jpg">
            <div class="container">
                <div class="header-text zoomoutheader">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="media-hold-h-p">
                                <h1>
                                    ALACA ELEKTRONİK <br><span class="txt-rotate">İhtiyaçlarınızı belirledikten sonra bir sonraki adımınız uygun donanımları seçmek. Sektördeki yazılım - donanım uygunluğu üzerindeki tecrübemizle size yüksek performans sağlayalım</span><span class="blinking">
                                        .
                                    </span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@Html.Partial("Partials/References", Model.PageModel.References)

@Html.Partial("Partials/Strenghs")

@Html.Partial("Partials/Sectors")

@Html.Partial("Partials/CustomerWriting", Model.PageModel.CustomerWritings)

@Html.Partial("Partials/News", Model.PageModel.News)

@Html.Partial("Partials/ReferencesExpend", Model.PageModel.References)