@using Alaca.Web.Models
@using Admin.DataLayer
@model LayoutModel<HomeModel>

@section slider
{
    <div id="home_slider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home_slider" data-slide-to="0" class="active"></li>
            <li data-target="#home_slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000" data-bg="images/home_slider3.jpg">
                <div class="container">
                    <div class="header-text zoomoutheader">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="media-hold-h-p">
                                    <h1>
                                        ALACA YAZILIM <br>
                                        <span class="txt-rotate">Siz sadece ihtiyaçlarınızı belirleyin. Gerisini biz çözeriz.</span><span class="blinking">

                                        </span>
                                    </h1>
                                    <a class="my_button wow pulse animated" href="contact-us" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 300ms; animation-iteration-count: infinite; animation-name: pulse;">AYS Ürünlerini Keşfet</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000" data-bg="images/home_slider1.jpg">
                <div class="container">
                    <div class="header-text zoomoutheader">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="media-hold-h-p">
                                    <h1>
                                        ALACA YAZILIM <br>
                                        <span class="txt-rotate">AYS herzaman yanınızda. AYS Mobil'i deneniz mi?</span><span class="blinking">. </span>


                                    </h1>
                                    <a class="my_button wow pulse animated" href="contact-us" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 300ms; animation-iteration-count: infinite; animation-name: pulse;">AYS Mobil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    var viewData = new ViewDataDictionary { { "AdminDomainAddress", Model.Firm.AdminDomainAddress } };
}

@Html.Partial("Partials/References", Model.PageModel.References, viewData)

@Html.Partial("Partials/Strenghs")

@Html.Partial("Partials/Sectors")

@Html.Partial("Partials/Banner")

@Html.Partial("Partials/CustomerWriting", Model.PageModel.CustomerWritings, viewData)

@Html.Partial("Partials/News", Model.PageModel.News, viewData)

@Html.Partial("Partials/ReferencesExpend", Model.PageModel.References, viewData)


@if (Model.PageModel.Popups != null && Model.PageModel.Popups.Count > 0)
{
    <script>
        $(function () {
            $('#btnModal').click();
        });
    </script>
}

<button type="button" data-toggle="modal" data-target="#modalTalepGonder" id="btnModal" style="display:none"></button>

<div class="modal fade" id="modalTalepGonder" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span id="spanBaslikGrup"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <section>
                    <ul class="my-simple-slider big-mys-slider mys-autoplay">
                        @for (int i = 0; i < Model.PageModel.Popups.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li class="selected">
                                    <a>@Html.Raw(Model.PageModel.Popups[i].Popup1)</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a>@Html.Raw(Model.PageModel.Popups[i].Popup1)</a>
                                </li>
                            }
                        }
                    </ul>
                    @*<div class="mys-slider-nav">
                            <nav>
                                <ul>
                                    @for (int i = 0; i < Model.PageModel.Popups.Count; i++)
                                    {
                                        <li>
                                            <a>@(i+1)</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>*@
                </section>
            </div>
        </div>
    </div>
</div>
<style>
    .modal {
        z-index: -1;
        display: flex !important;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .modal-open .modal {
        z-index: 1050;
    }
</style>
