@using Alaca.Web.Models
@model LayoutModel

<!DOCTYPE html>
<html>
<head>
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        Alaca Elektronik
    </title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="keywords" content="Alaca Elektronik, muhasebe, mobil, yazılım, elektronik, alaca, yazılım, pos, donanım, özel yazılım, web, etiket, mikro">
    <meta name="author" content="">
    <meta name="description" content="Alaca Elektronik Ltd. Mikro Yazılım’ın Çözüm Ortağıdır. Özel yazılımlarla çözüm üretir. Barkod Otomasyonu, Mikro Satış, Destek, Geçiş, Yenileme hizmeti verir.">
    <meta property="og:image" content="https://alacae.sirv.com/wp/2018/11/alaca-logo-1.png">
    <meta property="og:image:width" content="148">
    <meta property="og:image:height" content="24">
    <meta property="og:locale" content="tr_TR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Alaca Elektronik | Mikro Destek, Market Otomasyonu ve Yazılım">
    <meta property="og:description" content="Alaca Elektronik Ltd. Mikro Yazılım’ın Çözüm Ortağıdır. Özel yazılımlarla çözüm üretir. Barkod Otomasyonu, Mikro Satış, Destek, Geçiş, Yenileme hizmeti verir.">
    <meta property="og:url" content="https://alacaelektronik.com/">
    <meta property="og:site_name" content="Alaca Elektronik">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="ElektronikAlaca">
    <meta name="twitter:title" content="Alaca Elektronik | Mikro Destek, Market Otomasyonu ve Yazılım">
    <meta name="twitter:description" content="Alaca Elektronik Ltd. Mikro Yazılım’ın Çözüm Ortağıdır. Özel yazılımlarla çözüm üretir. Barkod Otomasyonu, Mikro Satış, Destek, Geçiş, Yenileme hizmeti verir.">
    <meta name="twitter:image" content="https://alacae.sirv.com/wp/2018/11/alaca-logo-1.png">
    <meta name="twitter:image:width" content="148">
    <meta name="twitter:image:height" content="24">
    <link rel="canonical" href="https://alacaelektronik.com/">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.min.css" defer>
    <link rel="stylesheet" href="css/bootstrap.min.css" defer>
    <link rel="stylesheet" href="css/slick.css" defer>
    <link rel="stylesheet" href="css/web_devlop.css" defer>
    <link rel="stylesheet" href="css/stylemin.css" defer>
    <link rel="stylesheet" href="css/our_client.css">
    <link rel="stylesheet" href="css/responsivemin.css">
</head>
<body>
    @{
        string cellPhone = string.Format("90{0}", Model.Firm.CepTelefon);
    }
    <div id="wrapper" class="wrapper-container">
        <nav id="mobile-advanced" class="mobile-advanced"></nav>
        <header id="header" class="header fixed-header">
            <div class="header" id="fixedheader1">
                <div class="top-header">
                    <div class="container-fluid">
                        <div class="header_social">
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=@cellPhone&amp;text=Merhaba,%20%20Alaca%20Elektronik.">@Model.Firm.CepTelefon</a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-between align-items-center">
                        <div id="header-menu-1" class="col-sm-3">
                            <div class="logo-wrap">
                                <a href="/" class="logo"><img alt="logo image" src="images/logo2.png"></a>
                            </div>
                        </div>
                        <div id="header-menu-2" class="col-sm-9">
                            <div class="menu-holder">
                                <div class="menu-wrap">
                                    <div class="nav-item">
                                        <a href="contact-us/index.html" class="contac_btn">Bizimle İletişime Geçin</a>
                                        <nav id="main-navigation" class="main-navigation">
                                            <ul id="menu" class="clearfix">
                                                <li class="current">
                                                    <a href="javascript:void(0)">Ürünlerimiz</a>
                                                    <div class="home-drop-down box_s">
                                                        <ul>
                                                            <li><a href="#">Ürün 1</a></li>
                                                            <li><a href="#">Ürün 2</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="drp-dwn-lst">
                                                    <a href="javascript:void(0)">Hizmetlerimiz</a>
                                                    <div class="home-drop-down-2 box_s">
                                                        <ul>
                                                            <li><a href="#">Hizmet 1</a></li>
                                                            <li><a href="#">Hizmet 2</a></li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="hov-dp-13">
                                                    <a href="javascript:void(0)">Referanslarımız</a>
                                                </li>
                                                <li class="hov-dp-13">
                                                    <a href="javascript:void(0)">Hakkımızda</a>
                                                </li>
                                                <li class="hov-dp-13">
                                                    <a href="javascript:void(0)">İletişim</a>
                                                </li>
                                                <li> <a class="box_s" id="buton-nav-project" target="_blank" href="https://alacaelektronik.com">Destek</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side scocial-icon">
                <div class="box_s soccil-icon-tab1">
                    <i class="fa fa-whatsapp fa-2x"></i>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=@cellPhone&amp;text=Merhaba,%20%20Alaca%20Elektronik.">@Model.Firm.CepTelefon</a>
                </div>
            </div>
        </header>
        @RenderSection("slider", required: false)
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer id="footer" class="footer style-2">
        <div class="container">
            <div class="main-footer">
                <h2 class="bord-bot-footer">Bizimle İletişime Geçin</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <h5 class="widget-title">Alaca Elektronik</h5>
                            <div class="our-info">
                                <div class="info-item">
                                    <div class="wrapper">@Model.Firm.Adres</div>
                                </div>
                                <div class="info-item">
                                    <i class="fa fa-phone"></i>
                                    <div class="wrapper contact_n"> <a href="tel:+90 @Model.Firm.Telefon1">@Model.Firm.Telefon1</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <h5 class="widget-title">Ürünlerimiz</h5>
                            <ul class="padding-foot">
                                <li><a href="#">Ürün 1</a></li>
                                <li><a href="#">Ürün 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <h5 class="widget-title">Hizmetlerimiz</h5>
                            <ul class="padding-foot">
                                <li><a href="#">Hizmet 1</a></li>
                                <li><a href="#">Hizmet 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <h5 class="widget-title">Hızlı Linkler</h5>
                            <ul class="padding-foot">
                                <li><a href="#">Referanslarımız</a></li>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">İletişim</a></li>
                            </ul>
                            <h4 class="white-footer">Sosyal Medya</h4>
                            <ul class="social-icons">
                                <li> <a href="https://www.facebook.com/alacaelektronikmikro/" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i> </a> </li>
                                <li> <a href="https://twitter.com/elektronikalaca" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i> </a> </li>
                                <li> <a href="https://www.instagram.com/alaca_elektronik/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i> </a> </li>
                                <li> <a href="https://www.youtube.com/channel/UCT-qH2r506_wEsSkMTV7etQ" target="_blank"> <i class="fa fa-youtube-play" aria-hidden="true"></i> </a> </li>
                                <li> <a href="https://www.linkedin.com/in/alaca" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div style="text-align: center;">
                        <p class="footer-botom-color">©@DateTime.Now.Year Tüm hakları saklıdır Alaca Elektronik</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slickmin.js"></script>
    <script src="js/libs/jquery.modernizrmin.js"></script>
    <script src="js/jquery.validate.min.js" defer></script>
    <script src="js/additional-methods.min.js" defer></script>
    <script src="js/pluginsmin.js" defer></script>
    <script src="js/footermin.js" defer></script>
    <script src="js/telephonemin.js" defer></script>
    <script src="js/custommin.js" defer></script>
    <script type="text/javascript" src="js/costum.js" defer></script>
    <script type="text/javascript" src="js/case_slider/jquerypp.custommin.js"></script>
    <script type="text/javascript" src="js/case_slider/jquery.elastislidemin.js"></script>
    <script src="js/cookieconsent.min.js" defer></script>
</body>
</html>
