@model AdminWebPanel.Models.LoginModel
@{
    ViewBag.Title = "Alaca Elektronik Admin Panel";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<script src="@Url.Content("~/js/jquery.modal.js")"></script>
<script src="@Url.Content("~/js/jquery.modal.min.js")"></script>
<script src="@Url.Content("~/js/main.js")"></script>

<link href="@Url.Content("~/css/jquery.modal.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/loginForget.css")"  rel="stylesheet" />

<script src="../../css/highlight.pack.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8"> hljs.initHighlightingOnLoad(); </script>
<script>
    jQuery(document).ready(function () {

        var isValid = jQuery("#isValid").text();
        if (isValid == "False")
            jQuery('.login-alert').fadeIn();
    });

    function ForgetPassword() {
        var email = $("#txtForgetEmail").val();
        if (email == "") {
            ShowMessage('Hata', 'Lütfen email adresinizi giriniz!');
            return;
        }
        var result = AjaxRequestWithMessage('GET', '/Login/SendForgetMailAdres', { 'emailAddress': email });
        if (result)
            ShowMessage('Uyarı', 'Mesajınız gönderilmiştir!');
    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <span style="display: none" id="isValid">@Model.IsValid</span>
    <div class="loginpanelinner">
        <div class="logo animate0 bounceIn" style="color: white; font-weight: bold; font-size: 16px; font-family: Helvetica, sans-serif;">
            <h5 style="color: white;">Alaca Elektronik</h5>
        </div>
        <div class="inputwrapper login-alert">
            <div class="alert alert-error">
                @Model.ErrorMessage
            </div>
        </div>
        <div class="inputwrapper animate1 bounceIn">
            @Html.TextBoxFor(m => m.User.EmailAddress, new { placeholder = "Email" })
        </div>
        <div class="inputwrapper animate2 bounceIn">
            @Html.PasswordFor(m => m.User.Password, new { placeholder = "Şifre" })
        </div>
        <div class="inputwrapper animate4 bounceIn">
            <button id="frmSubmit">Giriş</button>
        </div>
        <div class="inputwrapper animate5 bounceIn">
            <div class="pull-right">
                @*<a style="text-decoration: underline; cursor: pointer;" href="#ex2" rel="modal:open">Şifremi Unuttum</a>*@
            </div>
        </div>
    </div>
}
<form class="login_form modal" id="ex2" style="display: none;">
    <h3>Şifremi Unuttum</h3>
    <p>
        <label>Email Adresi :</label><input type="text" id="txtForgetEmail" />
    </p>
    <p>
        <input type="button" value="Gönder" onclick="javascript: ForgetPassword();" />
    </p>
</form>

