@using Admin.DataLayer;
@model IEnumerable<DuyuruHaber>

@{
    ViewBag.Title = "Duyuru-Haber Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal" data-target="#modalSave" style="width:100px" onclick="addClick()">Ekle</button> <br />

<table id="tblDataList" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="dataList_info">
    <thead>
        <tr role="row">
            <th>Başlık</th>
            <th>Kısa</th>
            <th>Duyuru</th>
            <th>Sıra</th>
            <th>Aktif</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DuyuruHaber duyuruHaber in Model)
        {
            <tr role="row" class="odd">
                <td>@duyuruHaber.DuyuruBaslik</td>
                <td>@duyuruHaber.DuyuruKisa</td>
                <td>Html İçerik</td>
                <td>@duyuruHaber.Sira</td>
                <td>@duyuruHaber.Aktif</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalSave" onclick="updateClick(@duyuruHaber.DuyuruId)" title="Güncelle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                            <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"></path>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalDelete" onclick="deleteClick(@duyuruHaber.DuyuruId)" title="Sil">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Duyuru-Haber ekleme&güncelleme*@
<div class="modal fade" id="modalSave" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span id="spanBaslik"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="divUpdate" class="modal-body">
                <form role="form">
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Duyuru Başlık</label>
                                <input type="text" class="form-control" id="txtDuyuruBaslik" placeholder="Duyuru Başlık">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Duyuru Kısa</label>
                                <input type="text" class="form-control" id="txtDuyuruKisa" placeholder="Duyuru Kısa">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Duyuru</label>
                                <textarea id="txtDuyuru"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Resim</label>
                                <input type="file" class="form-control" id="uplImage" accept="image/*">

                                <a href="/" target="_blank" id="aUploadedImage" style="display:none">Yüklenen Resim</a>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Sıra</label>
                                <input type="number" class="form-control" id="txtSira" placeholder="Sıra">
                            </div>
                            <div class="form-group">
                                <label>Aktif</label><br />
                                <input type="checkbox" id="chkAktif">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalClose">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="modalKaydet()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@*Duyuru-Haber silme*@
<div class="modal fade" id="modalDelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Kaydı silmek istediğinize emin misiniz?</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-primary" onclick="modalSil()">Evet</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    var active = false;

    $(function () {
        $("#tblDataList").dataTable({
            "responsive": true,
            "autoWidth": true,
            "ordering": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json",
            }
        });
        
        $("#txtDuyuru").Editor();
        
        $('#chkAktif').on('ifChecked', function (event) {
            active = true;
        });

        $('#chkAktif').on('ifUnchecked', function (event) {
            active = false;
        });
    });

    var selectedRowId = 0;

    function addClick() {
        $("#spanBaslik").text("Duyuru-Haber Ekleme");

        $("#txtDuyuruBaslik").val('');
        $("#txtDuyuruKisa").val('');
        $("#txtDuyuru").Editor('setText', '');
        $("#txtSira").val('');
        $('#aUploadedImage').hide();
        $('#chkAktif').iCheck("check");
    }

    function updateClick(id) {
        $("#spanBaslik").text("Duyuru-Haber Güncelleme");

        selectedRowId = id;

        var model = @Html.Raw(Json.Encode(Model));

        if (id > 0 && model != null && model.length > 0) {
            for (var i = 0; i < model.length; i++) {
                if (model[i].DuyuruId == selectedRowId) {
                    var item = model[i];

                    $("#txtDuyuruBaslik").val(item.DuyuruBaslik);
                    $("#txtDuyuruKisa").val(item.DuyuruKisa);
                    $("#txtDuyuru").Editor('setText', (item.Duyuru));
                    $("#txtSira").val(item.Sira);

                    if (item.ImageUrl != undefined && item.ImageUrl !=null &&item.ImageUrl != "") {
                        var imageUrl = "Upload/NewsImage/" + item.ImageUrl;
                        $("#aUploadedImage").attr("href", imageUrl);

                        $('#aUploadedImage').show();
                    }
                    else {
                        $('#aUploadedImage').hide();
                    }

                    var aktifText = item.Aktif ? "check" : "uncheck";
                    $('#chkAktif').iCheck(aktifText, function () {
                        active = item.Aktif;
                    });
                }
            }
        }
    }

    function deleteClick(id) {
        selectedRowId = id;
    }

    // kaydetme
    function modalKaydet() {
        if (!fieldValidationControl("txtDuyuruBaslik", "Başlık boş olamaz")) {
            return;
        }

        if ($('#txtDuyuru').Editor("getText") == ""){
            toastr.error("Duyuru boş olamaz")
            return;
        }

        var formData = new FormData();
        formData.append("__RequestVerificationToken", $("input[name=__RequestVerificationToken]").val());
        formData.append("DuyuruId", selectedRowId);
        formData.append("DuyuruBaslik", $("#txtDuyuruBaslik").val());
        formData.append("DuyuruKisa", $("#txtDuyuruKisa").val());
        formData.append("Duyuru", $('#txtDuyuru').Editor("getText"));
        formData.append("Sira", $("#txtSira").val());
        formData.append("Aktif", active);

        jQuery.each(jQuery('#uplImage')[0].files, function (i, file) {
            formData.append('file-' + i, file);
        });

        $.ajax({
            type: "POST",
            url: "/News/SaveNews",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                location.reload();
            }
        });
    }

    // silme
    function modalSil() {
        var news = {};
        news.DuyuruId = selectedRowId;

        $.ajax({
            type: "POST",
            url: "/News/DeleteNews",
            data: '{news:' + JSON.stringify(news) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload();
            }
        });
    }
</script>

